Source: vertcoin
Section: utils
Priority: optional
Maintainer: vertion <vertion@protonmail.com>
Uploaders: vertion <vertion@protonmail.com>
Build-Depends:
 devscripts,
 bash-completion,
 debhelper-compat (= 12),
 dh-exec,
 bash-completion,
 lcov,
 libboost-chrono-dev,
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-test-dev,
 libboost-thread-dev,
 libdb5.3++-dev,
 libevent-dev,
 libgmp-dev,
 libminiupnpc-dev,
 libprotobuf-dev,
 libqrencode-dev,
 libsqlite3-dev,
 libssl-dev,
 libzmq3-dev,
 pkg-config,
 protobuf-compiler,
 python3,
 qt5-qmake,
 qtbase5-dev,
 qttools5-dev-tools
Standards-Version: 4.6.0
Homepage: https://vertcoin.org/
Vcs-Git: git://github.com/vertcoin-project/vertcoin-core.git
Vcs-Browser: https://github.com/vertcoin-project/vertcoin-core
Rules-Requires-Root: no

Package: vertcoind
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 tor,
Suggests:
 bash-completion,
Description: peer-to-peer network based digital currency - daemon
 Vertcoin is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 This package provides the daemon, vertcoind, and the CLI tool
 vertcoin-cli to interact with the daemon.

Package: vertcoin-qt
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 tor,
Description: peer-to-peer network based digital currency - Qt GUI
 Vertcoin is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 This package provides Vertcoin-Qt, a GUI for Vertcoin based on Qt.

Package: vertcoin-tx
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Suggests:
 bash-completion,
Description: peer-to-peer digital currency - standalone transaction tool
 Vertcoin is a free open source peer-to-peer electronic cash system that
 is completely decentralized, without the need for a central server or
 trusted parties.  Users hold the crypto keys to their own money and
 transact directly with each other, with the help of a P2P network to
 check for double-spending.
 .
 This package provides vertcoin-tx, a command-line transaction creation
 tool which can be used without a vertcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
