#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

execute_before_dh_auto_clean:
	rm -rf src/obj
	rm -f src/vertcoin*

override_dh_auto_configure:
	./autogen.sh
	./configure --without-libs --disable-bench --disable-tests --with-incompatible-bdb

override_dh_auto_tests:
	make check